<!DOCTYPE html>
<div class = "center"><h1>RBS Design Utility</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @input, url: {action: "create"} do |f| %>
        
      <p><%= f.label :ProjName, "Project Name" %>
      <%= f.text_field :ProjName %></p>
      
      <p><%= f.label :Organism, "Select target organism" %>
      <%= f.select :Organism, [['Aponinum'],['Synechococcus 7942'],['E.coli']]%></p>
      
      <p><%= f.label :PreSeq, "35 nucleotide Pre-Sequence (5' UTR)" %>
      <%= f.text_field :PreSeq, class: 'form-control' %></p>
      
      <p><%= f.label :GeneName, "Gene Name" %>
      <%= f.text_field :GeneName, class: 'form-control' %></p>
      
      <p><%= f.label :CDS, "35 nucleotide CDS, incl. start codon" %>
      <%= f.text_field :CDS, class: 'form-control' %></p>
      
      <p><%= f.label :RBS_Mode, "Select presequence nucleotides available for mutation" %>
      <%= f.select :RBS_Mode, [['All'],['RBS Only'],['Window']]%></p>
      
      <p><%= f.text_field :Window_start, class: 'form-control', placeholder: "Window start nucleotide", style: "#{'display:none' if @input.RBS_Mode != 'Window'}" %></p>
      
      <p><%= f.text_field :Window_length, class: 'form-control', placeholder: "Window length (in nucleotides)", style: "#{'display:none' if @input.RBS_Mode != 'Window'}" %></p>
      
      <p><%= f.label :MaxIter, "Maximum Iterations Allowed"  %>
      <%= f.text_field :MaxIter%></p>
      
      <p><%= f.label :CodOptAllow, "Is Codon Optimization allowed?" %>
      <%= f.select :CodOptAllow, [['Yes'],['No']]%></p>
      
      <p><%= f.label :Design_Mode, "Select design mode" %>
      <%= f.select :Design_Mode, [['Basic'],['Advanced']]%>
      
      <%= f.select :Expr_lvl, [['Very High'],['High'],['Mean'],['Low'],['Very Low']], {:prompt => "Select Target Translation Rate"} %></p>

      <p><%= f.select :dG_Hyb, [['Precise'],['Greater Than']], {:prompt => "Select dG Hyb Optimization Mode"}, style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %>
      <%= f.text_field :dG_Hyb_val, placeholder: "Target dG Hyb value", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %>
      <%= f.text_field :Hyb_acc, placeholder: "% deviation allowed", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %></p>
      
      <p><%= f.select :dG_mRNA, [['Precise'],['Greater Than']], {:prompt => "Select dG mRNA Optimization Mode"}, style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %>
      <%= f.text_field :dG_mRNA_val, placeholder: "Target dG mRNA value", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %>
      <%= f.text_field :mRNA_acc, placeholder: "% deviation allowed", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %></p>
      
      <p><%= f.text_field :Target_TIR, placeholder: "Target TIR", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %>
      <%= f.text_field :TIR_acc, placeholder: "% deviation allowed", style: "#{'display:none' if @input.Design_Mode != 'Advanced'}" %></p>
  
      <%= f.submit "Submit Project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $("#input_RBS_Mode").change(function () {
        var mode = $(this).val();
        if (mode == "Window") {
          $('#input_Window_start').show();
          $('#input_Window_length').show();
        } else {
          $('#input_Window_start').hide();
          $('#input_Window_length').hide();
        }
    });
  });
  $(function () {
    $("#input_Design_Mode").change(function () {
        var desmode = $(this).val();
        if (desmode == "Advanced") {
          $('#input_dG_Hyb').show();
          $('#input_dG_Hyb_val').show();
          $('#input_Hyb_acc').show();
          $('#input_dG_mRNA').show();
          $('#input_dG_mRNA_val').show();
          $('#input_mRNA_acc').show();
          $('#input_Target_TIR').show();
          $('#input_TIR_acc').show();
          $('#input_Expr_lvl').hide();
        } else {
          $('#input_dG_Hyb').hide();
          $('#input_dG_Hyb_val').hide();
          $('#input_Hyb_acc').hide();
          $('#input_dG_mRNA').hide();
          $('#input_dG_mRNA_val').hide();
          $('#input_mRNA_acc').hide();
          $('#input_Target_TIR').hide();
          $('#input_TIR_acc').hide();
          $('#input_Expr_lvl').show();
        }
      });
  });
</script>