<!DOCTYPE html>
<div class = "center"><h1>RBS Design Utility</h1></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @input do |f| %>
        
      
      <%= f.label :RBS_Mode, "Select presequence nucleotides available for mutation" %>
      <%= f.select :RBS_Mode, [['All'],['RBS Only']]%><br>
      
      <%= f.label :dG_Hyb, "Select dG Hybridization optimization mode" %>
      <%= f.select :dG_Hyb, [['Precise'],['Greater Than']]%><br>
      
      <%= f.label :dG_Hyb_val, "Optimal dG Hybridization value in kcal/mol"  %>
      <%= f.text_field :dG_Hyb_val %><br>
      
      <%= f.label :dG_mRNA, "Select dG mRNA optimization mode" %>
      <%= f.select :dG_mRNA, [['Precise'],['Greater Than']]%><br>
      
      <%= f.label :dG_mRNA_val, "Optimal dG mRNA value in kcal/mol"  %>
      <%= f.text_field :dG_mRNA_val %><br>
      
      <%= f.label :MaxIter, "Maximum Iterations Allowed"  %>
      <%= f.text_field :MaxIter%><br>
      
      <%= f.label :FreqTable, "Select target organism" %>
      <%= f.select :FreqTable, [['Aponinum'],['Chlamydomonas']]%><br>
      
      <%= f.label :PreSeq, "35 nucleotide Pre-Sequence (5' UTR)" %>
      <%= f.text_field :PreSeq, class: 'form-control' %><br>
      
      <%= f.label :CDS, "35 nucleotide CDS, incl. start codon" %>
      <%= f.text_field :CDS, class: 'form-control' %><br>
      
      <%= f.label :Projname, "Project Name" %>
      <%= f.text_field :ProjName %><br>

      <%= f.submit "Submit Project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>