
<p></p>
<p>"I am the arg string"</p>
<p><%= @text %></p>
<p>"I am the results"</p>
<p><%= "Redesigned RBS: " + @finalRBS %></p>
<p><%= "Redesigned Full Sequence: " + @final_fullseq %></p>
<p><%= "Final dG Hybridization: " + @final_dG_Hyb %></p>
<p><%= "Final dG mRNA: " + @final_dG_mRNA%></p>
<p><%= "Final Translation Initiation Rate: " + @final_expr %></p>
<p><%= "Final Report Name: " + @final_report %></p>

