
<p></p>
<p>"I am the arg string"</p>
<p><%= @arg_string %></p>
<p>"I am the results"</p>
<p><%= "Redesigned RBS: " + @input.Final_RBS %></p>
<p><%= "Redesigned Full Sequence: " + @input.Final_FullSeq %></p>
<p><%= "Final dG Hybridization: " + @input.dG_Hyb %></p>
<p><%= "Final dG mRNA: " + @input.dG_mRNA%></p>
<p><%= "Final Translation Initiation Rate: " + @input.Final_Expr %></p>
<p><%= "Final Report Name: " + @input.Final_Report_Name %></p>

