
<p><%= @RBS_Mode %></p>
<p><%= @dG_Hyb %></p>
<p><%= @dG_Hyb_val %></p>
<p><%= @dG_mRNA %></p>
<p><%= @dG_mRNA_val %></p>
<p><%= @MaxIter %></p>
<p><%= @FreqTable %></p>
<p><%= @PreSeq %></p>
<p><%= @CDS %></p>
<p><%= @ProjName %></p>
<p></p>
<p><%= @py_results %></p>

<p>"I am the results"</p>